*{
    font-family: roboto;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    
}

/*aqui inician las especificaciones del header*/

header{
    display: flex;
    background-color: rgb(7, 66, 86);
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-size: 2rem;
    

}
/*especificaciones de la barra de busqueda*/
#barra{
    display: none;
}
/*especificaciones del menu de opciones principales*/
.lista_header{
    display: none;
}

#menu_hamburguesa{
    width:15vw ;
    padding-right: 2rem;
}

/*aqui terminan las especificaciones del header */

/*especificaciones de la segunda lista debajo del header*/
.lista_debajo_del_header{
    display: none;
}
/*----------------------------------------------------------*/
#imagen_del_jabon{
    display: none;
}

/*aqui comienzan las especificaciones del contenedor general de las tarjetas*/
.contenedor_general{
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;    
}
/*aqui terminan las especificaciones del contenedor general de las tarjetas*/

/*aqui comienzan las especificaciones de la clase tarjeta*/

.tarjetas{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    
}

.tarjetas img{
    width: 80vw;
}

.tarjetas .carrito{
    width: 5vw;
}

.ver_mas{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: red;
}
/*aqui terminan las especificaciones de la clase tarjeta*/

/*aqui comienzan las especificaciones del footer*/
footer{
    background-color: rgb(7, 66, 86);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/*aqui terminan las especificaciones del footer */

